

/* Style for the dashboard container */
.dashboard-container {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; 
}

/* Style for the dashboard heading */
.dashboard-heading {
  color: #333; /* Text color */
  font-size: 24px; /* Font size */
  margin-bottom: 15px; /* Add spacing to the bottom */
  text-align: center; /* Center the text */
}




/* user-list.component.css */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333; /* Set the color of column titles */
  }

  
/* SerachBar Css */

:host {
    display: block;
    margin-bottom: 20px;
  }
  
  .input-container {
    position: relative;
  }
  
  .search-input {
    width: 98%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #555;
    cursor: pointer;
  }


  
button {
  background-color: #e1e5df; 
  color: #080707;
  padding: 8px 12px; 
  border: none; 
  cursor: pointer; 
  margin-right: 5px; 
}


i {
  font-size: 1.2em; /* Adjust icon size as needed */
}

button i {
  margin-right: 5px; 
}


button.edit {
  background-color: #2ecc71; 
}


button.delete {
  background-color: #e74c3c; 
}


.bulk-delete-icon {
  font-size: 20px;
  color: #ff3333; /* Adjust the color as needed */
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  float: right; /* Align to the top right corner */
}

/* Hover effect for the bulk delete icon */
.bulk-delete-icon:hover {
  color: #cc0000; /* Adjust the hover color as needed */
}




.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button {
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
}


.selected {
  background-color: #e0e0e0; /* Grayish background color */
}
